name: Deploy to EC2

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v3
            
            - name: Set up SSH
              run: | 
                    echo "${{secrets.EC2_SSH_KEY}}" > ec2_key.pem chmod 600 ec2_key.pem

            - name: Copy Docker files to EC2 
              run: | 
                    scp -o StricHostKeyChecking=no -i ec2_key.pem -r ./Server ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_IP }}:~/server
                
            - name: Connect and deploy
              run: |
                    ssh -o StrictHostKeyChecking=no -i ec2_key.pem ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_IP }} << 'EOF'
                    cd ~/Server
                    docker build -t service.dev -f Dockerfile.dev .
                    docker stop service.dev || true
                    docker rm service.dev || true
                    docker run -d --name service.dev -p 8000:8000 service.dev
                    EOF